@page "/"

<h1>Pound For Pound</h1>

<label>Team 1</label>
<select @onchange="UpdateTeam1Value">
    @foreach (Team _team in TeamRosterService.Teams)
    {
        <option value="@(_team.Id)">@_team.DisplayName</option>
    }
</select>

<label>Team 2</label>
<select @onchange="UpdateTeam2Value">
    @foreach (Team _team in TeamRosterService.Teams)
    {
        <option value="@(_team.Id)">@_team.DisplayName</option>
    }
</select>

<p>Team 1 Cumulative Offense Weight: @_team1Weight</p>

<p>Team 2 Cumulative Offense Weight: @_team2Weight</p>

@code {
    private int _team1Id = 1;
    
    private int _team2Id = 2;

    private double _team1Weight = 0;

    private double _team2Weight = 0;

    protected override void OnInitialized()
    {
        Console.WriteLine("OnInitialized hit.");
        _team1Weight = TeamRosterService.GetTeamWeight(_team1Id);
        _team2Weight = TeamRosterService.GetTeamWeight(_team2Id);
    }

    private void UpdateTeam1Value(ChangeEventArgs args)
    {
        _team1Id = Int32.Parse(args.Value.ToString());
        _team1Weight = TeamRosterService.GetTeamWeight(_team1Id);
    }

    private void UpdateTeam2Value(ChangeEventArgs args)
    {
        _team2Id = Int32.Parse(args.Value.ToString());
        _team2Weight = TeamRosterService.GetTeamWeight(_team2Id);
    }
}
